
<!DOCTYPE html>
<html>
<head>
  <title>Calssic model</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <style>
    body {
      background-color: black;
      text-align: center;
      color: white;
      font-family: Arial, Helvetica, sans-serif;
    }
  </style>
</head>
<body>

<h1>Calssic model</h1>
<p>Bienvenidos a classic model</p>
<!--<p>Edit the code in the window to the left, and click "Run" to view the result.</p>-->
<p><img src="https://wololosound.com/wp-content/uploads/spotify.jpg" alt="Avatar" style="width:800px"></p>
<a href="/vista" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Usuarios</a>
<a href="/musica" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Músicas</a>
<a href="/pago" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Roles</a>

</body>
</html>
